body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(168,3,3,1) 100%, rgba(0,212,255,1) 100%);s    font-family: sans-serif;
    font-size: 0.9em;
    background-size:100%
}
table {
    transition:transform 1.2s;
}
table:hover{
    transform:scale(1.1);
}
table,
th,
td {
    border: 2.5px solid #E1A193;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    margin: 0px auto;
    margin-top: 13%;
    background-color: white;
    padding: 15px;
    opacity:90%;
}

tr {
    text-align: center;
}
.t2 {
    background-color: #cc0000;
    color: white;

}

caption {
    font-size:150%;
    color:whitesmoke;
    font-family:'Courier New', Courier, monospace;
    padding:15px;
}
    footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}
    }

    p.copyright {
        position: absolute;
        width: 100%;
        color: #fff;
        line-height: 40px;
        font-size: 0.9em;
        text-align: center;
        bottom:0;
    }
    td {
        font-size: 22px;
    }
